<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {# <link rel="icon" type="image/x-icon" href="favicon.ico"> #}
    <!-- Grab title from the page data and dump it here -->
    <title>{{ title }}</title>
    {% block head %}{% endblock head %}
  </head>

  <body>
    <!-- Grab the content from the page data, dump it here, and mark it as safe -->
    <!-- Safe docs: https://mozilla.github.io/nunjucks/templating.html#safe -->

    <div class="mainContainer">
      <header>
        {% block header %}{% endblock header %}
      </header>

      <main>
        {% block main %}
          {{ content | safe }}
        {% endblock main %}
      </main>

      <footer>
        {% block footer %}{% endblock footer %}
      </footer>
    </div>
  </body>

</html>