<nav>
  <ul>
    <h3>
      <a href="/posts/miniature-painting">🎨🍊 Mini Painting</a>
    </h3>
    {% for blog in collections.Painting %}
    <li>
      <a href="{{ blog.url }}">{{ blog.data.title }}</a>
    </li>
    {% endfor %}
  </ul>

  <ul>
    <h3>
      <a href="/posts/blender">🎨🧱 Blender</a>
    </h3>
    {% for blog in collections.Blender %}
    <li>
      <a href="{{ blog.url }}">{{ blog.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
