<header>
  {# <a href="/posts/{{ tags }}"> #}
  <a onclick="toggleNavigation()">
    {% if tags %}{{ tags }} / {% endif %}{{ title }}</a
  >
</header>

<nav id="myNavigation">
  {% for nav in navigations %}
    <h3>
      <a href="/posts/{{ nav.link }}">{{ nav.title }}</a>
    </h3>
    <ul>
      {% for stuff in collections[nav.tag] %}
        <li>
          <a href="{{ stuff.url }}">{{ stuff.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</nav>