<header>
  <a href="/posts/{{ tags }}">
    {% if tags %}{{ tags }} / {% endif %}{{ title }}</a
  >
</header>

<nav>
  {% for nav in navigations %}
    <h3>
      <a href="/posts/{{ nav.link }}">{{ nav.title }}</a>
    </h3>
    {% for stuff in collections[nav.tag] %}
      <li>
        <a href="{{ stuff.url }}">{{ stuff.data.title }}</a>
      </li>
    {% endfor %}
  {% endfor %}
</nav>