---
layout: wiki/wiki-layout.njk
---

<h1>
  <span class="tagName">{{title}}</span>
  <br>
  <a href="/posts/{{tags | findSlug}}"><span class="titleName"> ({{tags | findTitle}})</span></a>
</h1>

{{content | safe}}