{% extends "base-layout.njk" %}

{% block head %}
    {% include "wiki/wiki-head.njk" %}
{% endblock head %}

{% block header %}
    {% include 'wiki/wiki-navbar.njk' %}
{% endblock header %}

{% block main %}
    <section>{{content | safe}}</section>
{% endblock main %}