{# Complete the backgroundURL from Frontmatter #}
---
backgroundUrl: "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/800px-Image_created_with_a_mobile_phone.png"
---

<header>
  <div className="headerImage" style={{backgroundUrl}}></div>
  <span>
    <h1>Header</h1>
    <p>some text over here</p>
  </span>
</header>