{% extends "base-layout.njk" %}

{% block head %}
    {% include "portfolio/portfolio-head.njk" %}
{% endblock head %}

{% block header %}
    {% include "portfolio/portfolio-header.njk" %}
{% endblock header %}

{% block main %}
    {# {% include "portfolio/portfolio-main.njk" %} #}
    {{content | safe}}
{% endblock main %}

{% block footer %}
    {% include "portfolio/portfolio-footer.njk" %}
{% endblock footer %}

