:root {
  --header-font-size: 1.5rem;
  --header-height: calc(1.5rem * 2.5); /* header-font-size * (2 + .175) */
  /* --header-background-color: #2980b9; #1976d2, #427be4*/
  --header-background-color: #2980b9;
  /* --nav-background-color: #272c31; #2a2f3a, #343131 */
  --nav-background-color: #343131;
  --nav-color: #d9d9d9;
  --nav-padding: 1.875rem 0;
  --link-color: orange;
  --main-padding: 1.125rem;
  --main-padding-top: 1.75rem;
  --header-padding: 1rem;
  --section-padding: calc(1.618em * 1.5) calc(1.618em * 1.4)
    calc(3.236em * 1.125);
  --main-background-color: #efefef;
  --max-width: 770px;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.maxWidthContainer {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--header-padding);
}

header {
  background-color: var(--header-background-color);
  flex: 1 1 auto;

  top: 0;
  width: 100%;
  position: fixed;
}

header a {
  user-select: none;
  color: white;
  font-weight: bold;
  height: var(--header-height);
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: var(--header-font-size);
  max-width: 1080px;
  margin: 0 auto;
}

nav {
  top: var(--header-height);
  background-color: var(--nav-background-color);
  flex: 1 1 auto;
  align-self: center;
  width: var(--max-width);
  max-width: 100%;
  padding: var(--nav-padding);
  position: fixed;
  color: var(--nav-color);
}

nav h3 {
  border: 1px solid grey;
  padding: 0.5rem;
  margin: initial;
  width: 524px;
  max-width: 100%;
}

nav li {
  padding: 0.25rem;
  list-style: circle;
}
nav ul {
  margin-bottom: 1.5rem;
}

#myNavigation {
  display: none;
}

nav a {
  color: var(--nav-color);
  text-decoration: none;
}

main {
  flex: 1;
  padding: var(--main-padding);
  padding-top: var(--main-padding-top);
  background-color: var(--main-background-color);
  margin-top: var(--header-height);
}
section {
  margin: 0 auto;
  max-width: var(--max-width);
  border-radius: 5px;
  background-color: white;
  padding: var(--section-padding);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

nav a:hover {
  color: var(--link-color);
}

