:root {
  --header-font-size: 1.5rem;
  --header-height: calc(1.5rem * 2.5); /* header-font-size * (2 + .175) */
  --header-color: #1976d2;
  --nav-color: #272c31;
  --nav-padding: 1.125rem 0 1.875rem;
  --link-color: orange;
  --main-padding: 3rem;
}

html,
body {
  height: 100%;
  margin: 0;
}

.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

.maxWidthContainer {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 var(--main-padding);
}

header {
  background-color: var(--header-color);
  flex: 0 1 auto;
  display: block;
}

header a {
  user-select: none;
  color: white;
  font-weight: bold;
  height: var(--header-height);
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: var(--header-font-size);
  max-width: 1080px;
  margin: 0 auto;
}

nav {
  top: var(--header-height);
  background-color: var(--nav-color);
  flex: 1 1 auto;
  width: 100%;
  padding: var(--nav-padding);
  position: fixed;
}

#myNavigation {
  display: none;
}

nav a {
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
  padding: var(--main-padding);
  background-color: whitesmoke;
}
section {
  margin: 0 auto;
  max-width: 1080px;
  border-radius: 4px;
  background-color: white;
  padding: 2rem;
}

a:hover {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}
