---
layout: layout.njk
title: 🎨🧱 Mini Painting
---

<h1>Miniature-Painting Guide</h1>
<p>A guide about painting Warhammer, DnD, and 3D printed Miniatures</p>

{% for blog in collections.Painting %}
<li>
  <a href="{{ blog.url }}">{{ blog.data.title }}</a>
</li>
{% endfor %}
